## Creating and Accessing Dictionary

In [20]:
salaries = {
    "Brad": 10,
    "Lucy": 12,
    "John": 6.5,
}

In [22]:
salaries["Brad"]

10

In [23]:
salaries["Lucy"]

12

In [24]:
salaries["John"]

6.5

## Adding and Deleting Keys

In [25]:
salaries["Varun"] = 15

In [26]:
salaries["Varun"]

15

In [27]:
salaries

{'Brad': 10, 'Lucy': 12, 'John': 6.5, 'Varun': 15}

In [28]:
for i in salaries:
    print(salaries[i])

10
12
6.5
15

In [33]:
for i in salaries:
    print(f"The salarie of {i} is {salaries[i]}")

The salarie of Brad is 10
The salarie of Lucy is 12
The salarie of John is 6.5
The salarie of Varun is 15

## empty dictionary

In [35]:
x = dict()
n = input()

for i in list(set(n)):
    x[i] = n.count(i)
print(x)

 VarunKumar

{'K': 1, 'n': 1, 'm': 1, 'u': 2, 'V': 1, 'r': 2, 'a': 2}

In [36]:
for i in x:
    print(f"{i}: {x[i]}")

K: 1
n: 1
m: 1
u: 2
V: 1
r: 2
a: 2

### deleting

In [37]:
x

{'K': 1, 'n': 1, 'm': 1, 'u': 2, 'V': 1, 'r': 2, 'a': 2}

In [39]:
del x['K']

In [40]:
x

{'n': 1, 'm': 1, 'u': 2, 'V': 1, 'r': 2, 'a': 2}

## 'in' operator

it only check's for the `keys` not the `values`

In [34]:
"Varun" in salaries

True

In [41]:
"Tarun" in salaries

False

## '.values()' operator

it only **returns** the `value` of the *tuple*

In [42]:
salaries.values()

dict_values([10, 12, 6.5, 15])

In [43]:
type(salaries.values())

dict_values

In [44]:
for i in salaries.values():
    print(i)

10
12
6.5
15

## '.keys()' operator

it only **returns** the `keys` of the *dictionary*

In [45]:
salaries.keys()

dict_keys(['Brad', 'Lucy', 'John', 'Varun'])

In [47]:
type(list(salaries.keys()))

list

In [48]:
type(salaries.keys())

dict_keys

In [49]:
for i in salaries.keys():
    print(i)

Brad
Lucy
John
Varun

## '.item()' operator

it **returns** the `items` in the form *tuple*

In [50]:
salaries.items()

dict_items([('Brad', 10), ('Lucy', 12), ('John', 6.5), ('Varun', 15)])

In [51]:
for i in salaries.items():
    print(i)

('Brad', 10)
('Lucy', 12)
('John', 6.5)
('Varun', 15)

In [52]:
for i in salaries.items():
    print(type(i))
    break

<class 'tuple'>

## looping through dictionary

In [53]:
for keys in salaries:
    print(keys)

Brad
Lucy
John
Varun

In [55]:
for keys in salaries:
    print(keys, salaries[keys])

Brad 10
Lucy 12
John 6.5
Varun 15

### looping using .items()

In [56]:
for keys, values in salaries.items():
    print(keys, values)

Brad 10
Lucy 12
John 6.5
Varun 15

## '.get()' method

### Exercise

In [4]:
# Welcome to our Python playground!

salaries = {
    "Brad": 10,
    "Lucy": 12,
    "John": 6.5,
}

for name in salaries:
    salary = salaries[name]
    print(f"{name} makes ${salary} an hour")


for name, salary in salaries.items():
    weekly_salary = salary * 40
    print(f"{name} makes ${weekly_salary} an week")

Brad makes $10 an hour
Lucy makes $12 an hour
John makes $6.5 an hour
Brad makes $400 an week
Lucy makes $480 an week
John makes $260.0 an week

In [9]:
n = input("Enter a string: ")
chk = list(set(n))
di = {}

for i in chk:
    m = n.count(i)
    di[i] = m

Enter a string:  VarunKumar

In [10]:
di

{'K': 1, 'n': 1, 'm': 1, 'u': 2, 'V': 1, 'r': 2, 'a': 2}